body {
    font-family: Poppins;
    background-color: lightgray;
}
h2, p, .readme-wrapper {
    text-align: center;
}
a {
    text-decoration: none;
    color: purple;
}
.readme-wrapper :hover {
    cursor: pointer;
    font-weight: bold;
    color: red;
}
.box1, .box2, .box3, .box4 {
    margin: 2em;
    padding: 2em;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 30em;
    display: block;
}
.box1 {
    background-color: dimgray;
}
.box2 {
    background-color: slategray;
}
.box3 {
    background-color: royalblue;
}
.box4 {
    background-color: darkslateblue;
}
.header-image {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: lightcoral;
    position: relative;
    top: 4em;
    left: 5em;
}